@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth !important;
}
.bg {
    background-image: url(../public/Assets/Img/Newsletter.webp);
}

.swiper-pagination {
    position: unset !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 0.23 !important;
    background: #A854E9 !important;
}

.swiper-pagination-bullet-active {
    width: 28px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: #A854E9 !important;
    border-radius: 22px !important;
}

.swiper-slide-active div {
    position: relative !important;
    border-color: #A854E9 !important;
}

.swiper-slide-active div::after {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute !important;
    background-color: #A854E9;
    left: 0;
    bottom: 0;
}

.hidden{
    overflow: hidden;
}